# Python
__pycache__/
*.pyc
*.pyo
.env
venv/
*.egg-info/

# Docker
*.log

# IDE
.vscode/
.idea/g

gcp-key.json

# dbt
air_quality_dbt/target/
air_quality_dbt/dbt_packages/
air_quality_dbt/logs/

logs/